[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jayarajac
[access "refs/for/refs/*"]
	read = group user/jayarajac
	push = group user/jayarajac
	label-Code-Review = -2..+2 group user/jayarajac
	label-Verified = -1..+1 group user/jayarajac
	rebase = group user/jayarajac
	removeReviewer = group user/jayarajac
	submit = group user/jayarajac
[access "refs/heads/*"]
	read = group user/jayarajac
	create = group user/jayarajac
	push = +force group user/jayarajac
	pushMerge = group user/jayarajac
[access "refs/tags/*"]
	push = group user/jayarajac
	push = +force group user/jayarajac
